@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#ffea00;
    --black:#02023a ;
    --bg:#a219b7; /*#bd88f1 OUTRO #B342C4 OUTRO ROXO #28053F */
    --border:.1rem solid #586ba0  ;
}

*{
    
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}


span{
    color: #fff000;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}


html::-webkit-scrollbar-thumb{
    background:#e0ebf6;
    border-radius: 5rem;
}
/* fimdo html para mecher na aparencia do site  cabeça*/


body{
    background:black;
}


section{
    padding:2rem 7%;
    
}

.heading{
    text-align: center;
    color:#014a93;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#e0ebf6;
    background: #bd88f1;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
    background: #02023a;
}


.header{
    background:#7E19C1 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    
    position: fixed;
    top:0; left: 0; right: 0;
   

}

.logo img{
    height: 10rem;
    left: center;
    
}

 

.icons div{
    color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

/*resolver problema*/

.home .content{
    text-align: center;
   
 
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#ffffff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    padding:1rem 0;
    color:#ffffff;
}

.about .row{
    display: flex;
    align-items: center;
    background:#02023a;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#e0ebf6;
    background-color: #02023a;
    border-radius: 20px;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#e0ebf6;
    padding:1rem 0;
    line-height: 1.8;
    background-color: #02023a;
    border-radius: 20px;
   text-align: center;
}


.box:hover{
    background:#fbfbfb5e;
}

.menu .box-container .box:hover > {
    color:var(--black);
}


.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#9900ff;
    margin:.3rem;
}



.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:#e0ebf6;
    font-size: 2.5rem;
}





.products .box-container .box .content .price{
    color:#8000ff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
   font-size: 1.5rem;
}




/* media queries  */
@media (max-width:900px){

}

@media (max-width:650px){

    #menu-btn{
        display: inline-block;
    }
    .home .content #carrossel IMG{
         width: 50%;
         display:flex;
     }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #e0ebf6;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
      
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;

    }

}
@media (max-width:400px){
  
 
}
